.title Technology
.sub-title Brains and Beauty.
#tech-overlay
  .overlay-container
    .top
      .close-button
        %a{:href => "#"}
      .title
        Pure Titanium Alloy
    .middle
      .sub-title
        %h4 The world’s most technologically advanced rims.
      %p It has been long thought desirable to decorate one’s automobile by the addition of decorative wheels. It has further been thought desirable to communicate with others by means of addressable electronic displays. The concept of combining decorative automobile wheels with an addressable electronic display is a relatively new one which produces novel and visually interesting results.
    .bottom
.technology-content
  .choices
    %ul
      - @rims.each do |rim|
        %li
          - if rim.id.to_s == @active_rim.to_s
            %a.rim-small.active{:href => "#", :rel => "#{rim.id}"}
              = image_tag rim.small_image unless !rim.small_image.present?
          -elsif rim.id == @rims.first.id && @active_rim.nil?
            %a.rim-small.active{:href => "#", :rel => "#{rim.id}"}
              = image_tag rim.small_image unless !rim.small_image.present?
          -else
            %a.rim-small{:href => "#", :rel => "#{rim.id}"}
              = image_tag rim.small_image unless !rim.small_image.present?
  .overlay
    .titles
      - @modal_content.each_with_index do |modal, index|
        %a{:href => "#", :rel => "#{modal.title}", :title => 'Click for more info', :class => "title#{index+1}"}

  .rim
    - @rims.each do |rim|
      - if rim.id.to_s == @active_rim.to_s
        %div{:id => "#{rim.id}", :class => 'show'}
          = image_tag rim.medium_image unless !rim.medium_image.present?
      -elsif rim.id == @rims.first.id && @active_rim.nil?
        %div{:id => "#{rim.id}", :class => 'show'}
          = image_tag rim.medium_image unless !rim.medium_image.present?
      -else
        %div{:id => "#{rim.id}", :class => 'hide'}
          = image_tag rim.medium_image unless !rim.medium_image.present?