!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head{"data-hook" => "admin_inside_head"}
    = render :partial => 'spree/admin/shared/head'
  %body.admin
    /[if IE 7]
      <div id='IE7'>
    #wrapper{"data-hook" => ""}
      #header{"data-hook" => ""}
        %div{"data-hook" => "admin_login_navigation_bar"}
        = link_to image_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), admin_path
        %h1= link_to t(:administration), admin_path
        #progress
          = image_tag 'admin/progress.gif'
          = t(:loading)
          \...
      #admin-menu{"data-hook" => ""}
        %ul{"data-hook" => "admin_tabs"}
          = render :partial => 'spree/admin/shared/tabs'
        %br.clear/
      #sub-menu{"data-hook" => ""}
        = yield :sub_menu
        %br.clear/
      #content{:class => "#{'with-sidebar ' if content_for?(:sidebar)} clear tile_bg", "data-hook" => ""}
        - if flash[:error]
          .flash.error= flash[:error]
        - if notice
          .flash.notice= notice
        = render :partial => 'spree/admin/shared/alert', :collection => session[:alerts]
        = yield
        - if content_for?(:sidebar)
          %br.clear/
          #sidebar{"data-hook" => ""}
            = yield :sidebar
      #footer{"data-hook" => ""}
        %p
          = t(:icons_by)
          = link_to 'pInvoke', 'http://pinvoke.com'
    /[if IE]
      </div>
    %div{"data-hook" => "admin_footer_scripts"}

