<!doctype html>
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
/ [if gt IE 9]><!
%html{:lang => "en"}
  / <![endif]
  %head{"data-hook" => "inside_head"}
    = render :partial => 'spree/shared/head'
  %body{:class => "Store #{action_name.capitalize} #{body_class}", "data-hook" => "body", :id => @body_id || 'default'}
    %section#dub
      %section.wrapper
        %header
          %nav
            = render 'spree/shared/user_nav'
            = render 'spree/shared/main_nav'
          %section.logo

            / - flash.each do |name, msg|
            /         = content_tag :div, msg, :id => "flash_\#{name}" if msg.is_a?(String)
        %section.body
          %section.content-container.interior
            .content
              .title-container
                .title{:class => "Store"}
                .text-container
                  #wrapper.row{"data-hook" => ""}
                    - if content_for?(:sidebar)
                      %aside#sidebar.columns.alpha.four{"data-hook" => ""}
                        = yield :sidebar
                    #content.columns.omega.if.sixteen.alpha.else.twelve{:class => "<haml:silent> !content_for?(:sidebar) </haml:silent><haml:block> </haml:block><haml:silent> </haml:silent><haml:block> </haml:block>", "data-hook" => ""}
                      = breadcrumbs(@taxon)
                      = flash_messages
                      = yield
                      
                      .push

      = render :partial => 'spree/shared/foot'
    = render :partial => 'spree/shared/google_analytics'
    
    #modal_global_progress
      .spinner
