<!doctype html>
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
/ [if gt IE 9]><!
%html{:lang => "en"}
  / <![endif]
  %head{"data-hook" => "inside_head"}
    = render :partial => 'spree/shared/head'
  %body{:class => "Store #{action_name.capitalize} #{body_class}", "data-hook" => "body", :id => @body_id || 'default'}
    %section#dub
      %section.wrapper
        %header
          %nav
            = render 'spree/shared/user_nav'
            = render 'spree/shared/main_nav'
            = flash_messages
          %section.logo

        %section.body
          %section.content-container.interior
            .content
              .title-container
                .title{:class => "Store"}
                .text-container
                  #wrapper.row{"data-hook" => ""}
                    = breadcrumbs(@taxon)
                    
                    = yield
                    
                    .push

      = render :partial => 'spree/shared/foot'
    = render :partial => 'spree/shared/google_analytics'
    
    #modal_global_progress
      .spinner
