= form_for @rim, :url => rim_update_path(:id => @rim.id), :method => 'put', :html => {:multipart => true} do |f|
  -# -if @rim.errors.any?
  -#     #error_explanation
  -#       %h2= "#{pluralize(@rim.errors.count, "error")} prohibited this rim from being saved:"
  -#       %ul
  -#         - @rim.errors.full_messages.each do |msg|
  -#           %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :color
    = f.text_area :color
  .field
    = f.label :size
    = f.text_area :size
  .field
    = f.label :fitting
    = f.text_area :fitting
  .field
    = image_tag(@rim.image.url) if @rim.image.url.present?
    = f.label :image
    = f.file_field :image
  - if @rim.image.url.present?
    .field
      = f.label :remove_image
      = f.check_box :remove_image
      = f.hidden_field :image_cache
  .field
    = image_tag(@rim.medium_image.url) if @rim.medium_image.url.present?
    = f.label :medium_image
    = f.file_field :medium_image
  - if @rim.medium_image.url.present?
    .field
      = f.label :remove_medium_image
      = f.check_box :remove_medium_image
      = f.hidden_field :medium_image_cache
  .field
    = image_tag(@rim.small_image.url) if @rim.small_image.url.present?
    = f.label :small_image
    = f.file_field :small_image
  - if @rim.small_image.url.present?
    .field
      = f.label :remove_small_image
      = f.check_box :remove_small_image
      = f.hidden_field :small_image_cache
  .actions
    = f.submit 'Save'
