= image_tag 'creditcards/creditcard.gif', :id => 'creditcard-image'
- param_prefix = "payment_source[#{payment_method.id}]"
%p.field{"data-hook" => "card_number"}
  = label_tag nil, t(:card_number)
  %br/
  - options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {}
  = text_field_tag "#{param_prefix}[number]", '', options_hash.merge(:id => 'card_number', :class => 'required', :size => 19, :maxlength => 19)
  %span.req *
  \&nbsp;
  %span#card_type{:style => "display:none;"}
    (
    %span#looks_like
      = t(:card_type_is)
      %span#type
    %span#unrecognized= t(:unrecognized_card_type)
    )
%p.field{"data-hook" => "card_expiration"}
  = label_tag nil, t(:expiration)
  %br/
  = select_month(Date.today, :prefix => param_prefix, :field_name => 'month', :use_month_numbers => true, :class => 'required')
  = select_year(Date.today, :prefix => param_prefix, :field_name => 'year', :start_year => Date.today.year, :end_year => Date.today.year + 15, :class => 'required')
  %span.req *
%p.field{"data-hook" => "cart_code"}
  = label_tag nil, t(:card_code)
  %br/
  = text_field_tag "#{param_prefix}[verification_value]", '', options_hash.merge(:id => 'card_code', :class => 'required', :size => 5)
  %span.req *
  = link_to "(#{t(:whats_this)})", spree.content_path('cvv'), :target => '_blank', :onclick => "window.open(this.href,'cvv_info','left=20,top=20,width=500,height=500,toolbar=0,resizable=0,scrollbars=1');return false", "data-hook" => "cvv_link"
= hidden_field param_prefix, 'first_name', :value => @order.billing_firstname
= hidden_field param_prefix, 'last_name', :value => @order.billing_lastname

/ (c) 2005, 2012. Authorize.Net is a registered trademark of CyberSource Corporation
.AuthorizeNetSeal
  %script{:language => "javascript", :type => "text/javascript"} var ANS_customer_id="0c202375-e87d-4f50-9b26-23b776cb7339";
  %script{:language => "javascript", :src => "//verify.authorize.net/anetseal/seal.js", :type => "text/javascript"}
  %a#AuthorizeNetText{:href => "http://www.authorize.net/", :target => "_blank"} Credit Card Processing