%h1 Listing newsletters
%table
  %tr
    %th Email
    %th
    %th
    %th
  - @newsletters.each do |newsletter|
    %tr
      %td= newsletter.email
      %td= link_to 'Show', newsletter
      %td= link_to 'Edit', edit_newsletter_path(newsletter)
      %td= link_to 'Destroy', newsletter, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Newsletter', new_newsletter_path
