%ul
  %li
    = link_to('Edit Users', users_path)
  %li
    = link_to('Edit Rims', rim_path)
  %li
    = link_to('Edit Resources', resources_path)
  %li
    = link_to('Edit Refund Policy', refunds_path)
  %li
    = link_to('Edit Privacy Policy', privacies_path)
  %li
    = link_to('Edit Newsletters', newsletters_path)