%ul
  %li
    = link_to('Manage Users', users_path)
  %li
    = link_to('Manage Media', admin_medias_path)
  %li
    = link_to('Manage Rims', admin_rims_path)
  %li
    = link_to('Manage Resources', admin_resources_path)
  %li
    = link_to('Manage Refund Policy', refunds_path)
  %li
    = link_to('Manage Privacy Policy', privacies_path)
  %li
    = link_to('Manage Newsletters', admin_newsletters_path)