.title Site Administration
.text-container
  %fieldset
    %legend Management
    %ul
      %li
        = link_to('Users', users_path, :class => 'fade')
      %li
        = link_to('Media', admin_medias_path, :class => 'fade')
      %li
        = link_to('Rims', admin_rims_path, :class => 'fade')
      %li
        = link_to('Resources', admin_resources_path, :class => 'fade')
      %li
        = link_to('Refund Policy', refunds_path, :class => 'fade')
      %li
        = link_to('Privacy Policy', privacies_path, :class => 'fade')
      %li
        = link_to('Newsletters', admin_newsletters_path, :class => 'fade')