%tr{:class => "#{cycle('', 'alt')} line-item"}
  %td{"data-hook" => "cart_item_image"}
    - if variant.images.length == 0
      = link_to small_image(variant.product), variant.product
    - else
      = link_to image_tag(variant.images.first.attachment.url(:small)), variant.product
  %td{"data-hook" => "cart_item_description"}
    .pad.top10
      %h4= link_to variant.product.name, product_path(variant.product)
    = variant.options_text
    - if @order.insufficient_stock_lines.include? line_item
      %span.out-of-stock
        = variant.in_stock? ? t(:insufficient_stock, :on_hand => variant.on_hand) : t(:out_of_stock)
        %br/
    .pad.top10
      = truncate(variant.product.description, :length => 100, :omission => "...")
  %td{"data-hook" => "cart_item_price"}
    .pad.top10
      = number_to_currency line_item.price
  %td{"data-hook" => "cart_item_quantity"}
    = item_form.number_field :quantity, :min => 0, :class => "line_item_quantity pad top10", :size => 5, :style => 'width: 100px'
  %td{"data-hook" => "cart_item_total"}
    .pad.top10
      = number_to_currency(line_item.price * line_item.quantity) unless line_item.quantity.nil?
  %td{"data-hook" => "cart_item_delete"}
    .pad.top10
      = link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}"
