<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="registration" data-hook>
  <div id="account" class="columns alpha eight">
    <!-- TODO: add partial with registration form -->
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout" data-hook class="columns omega eight">
      <fieldset>
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
        <legend><%= t(:guest_user_account) %></legend>
        <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
          <div class="field">
            <%= f.label :email, t(:email) %>
            <%= f.email_field :email, :class => '' %>
          </div>

          <div class="form-buttons submit pad bottom10 top20" data-hook="buttons">
            <%= f.submit t(:continue), :class => 'continue  btn orange', :style => 'width: 200px' %>
          </div>

        <% end %>
      </fieldset>
    </div>
  <% end %>
</div>
