.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :username
  = f.text_field :username
.field
  = f.label :email
  = f.text_field :email
- if can? :manage, Role
  %p= f.label :role
  %ul.no-pad.no-bullets
  = f.collection_select :id, User::ROLES, :to_s, :humanize