/ table header stuff here
- @users.each do |u|
  %tr
    %td= link_to_if(can?(:read, User), "#{u.name}", user_path(u.id)) {}
    %td= "#{u.email}"
    %td= "#{u.roles.collect{|r| r.name}}"
    %td= link_to_if(can?(:edit, User), 'Edit User', edit_user_path(u.id)) {}
    %td= link_to_if(can?(:delete, u), 'Delete User', u, :confirm => "Are you sure?", :method => :delete) {}
