.title Change your password
.text-container
  %fieldset
    %legend User Information
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .field
        = f.label :password, "New password"
        = f.password_field :password
      .field
        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation
      .submit
        = f.submit "Change my password", :style => 'width: 300px'

  %fieldset
    %legend Other options
    .links
      = render :partial => "devise/shared/links"
