%section.body
  / -@users.each do |user|
  /     %p User:
  /     =link_to user.name, users_path(user)
  %section.rim-container
    .rims-large
      %ul
        - @rims.each do |rim|
          %li{:class => "#{rim.id}"}
            = image_tag rim.image unless !rim.image.present?
          / = image_tag(rim_image_cache_path(:cache_id => rim.image_cache[/^[\d-]+/], :filename => rim.image_cache[/[a-zA-Z0-9 _\.]+$/])) if rim.image_cache
    .rim-buttons
      .arrow.left
        %a{:href => "#"}
      .arrow.right
        %a{:href => "#"}
  %section.rim-select
    .rim-reflection
      .reflection.left
      .buttons
        %ul
          - @rims.each do |rim|
            %li
              - if !@products.nil? && !rim.product_id.nil?
                - string = "#{"<div class='title'>" + rim.title.upcase + "</div>" + "<div class='grey border pad top5 bottom10'>" + rim.description + "</div>" + (link_to "More Info", "#{spree.product_path(@products.detect{ |id, permalink| id == rim.product_id}[1])}", :class => 'btn blue')}"
              - else
                - string = "#{"<div class='title'>" + rim.title.upcase + "</div>" + "<div class='grey border pad top5 bottom10'>" + rim.description + "</div>"}"

              - if rim.id.to_s == @active_rim.to_s
                %a.active{:href => "#", :title => string} #{rim.title}
              - elsif rim.id == @rims.first.id && @active_rim.nil?
                %a.active{:href => "#", :title => string} #{rim.title}
              - else
                %a{:href => "#", :title => string} #{rim.title}
      .reflection.right
  %section.content-container.home
    .content
      .left-column
        .rim-preview
        .try-it
          = link_to 'Try It Out',  generator_path
      .right-column
        .title-container
          .title DUB LEDS
          .usb-built-in
        .text-container
          %h4= @page_content.title rescue nil
          %p= @page_content.sub_title rescue nil
          %div= @page_content.page_content.html_safe rescue nil
