%section.body
  / -@users.each do |user|
  /     %p User:
  /     =link_to user.name, users_path(user)
  %section.rim-container
    .rims-large
      %ul
        - @rims.each do |rim|
          %li{:class => "#{rim.id}"}
            = image_tag rim.image unless !rim.image.present?
          / = image_tag(rim_image_cache_path(:cache_id => rim.image_cache[/^[\d-]+/], :filename => rim.image_cache[/[a-zA-Z0-9 _\.]+$/])) if rim.image_cache
    .rim-buttons
      .arrow.left
        %a{:href => "#"}
      .arrow.right
        %a{:href => "#"}
  %section.rim-select
    .rim-reflection
      .reflection.left
      .buttons
        %ul
          - @rims.each do |rim|
            - @tooltip = { :title => rim.title, :description => rim.description, :order => '/store/1'}
            %li
              - if rim.id.to_s == @active_rim.to_s
                %a.active{:href => "#", :title => "#{rim.title.upcase + "<br>" + rim.description + "<br>" + (link_to "Order It", '/store/products/rim-1')}"} #{rim.title}
              - elsif rim.id == @rims.first.id && @active_rim.nil?
                %a.active{:href => "#", :title => "#{rim.title.upcase + "<br>" + rim.description + "<br>" + (link_to "Order It", '/store/products/rim-1')}"}} #{rim.title}
              - else
                %a{:href => "#", :title => "#{rim.title.upcase + "<br>" + rim.description + "<br>" + (link_to "Order It", '/store/products/rim-1')}"}} #{rim.title}
      .reflection.right
  %section.content-container.home
    .content
      .left-column
        .rim-preview
        .try-it
          %a{:href => "#"} Try It Out
      .right-column
        .title-container
          .title DUB LEDS
          .usb-built-in
        .text-container
          %h4 The world's most technologically advanced rims.
          %p It has been long thought desirable to decorate one's automobile by the addition of decorative wheels. It has further been thought desirable to communicate with others by means of addressable electronic displays. The concept of combining decorative automobile wheels with an addressable electronic display is a relatively new one which produces novel and visually interesting results.
          %ul
            %li Digital images displayed on Rims
            %li No-hassle easy install, no wires to plug into the car battery
            %li Self-Generating power
            %li USB Port built-in
          %ul
            %li Wireless remote control
            %li Turn off / switch next to image while driving
            %li Universal fit on most vehicles!
