.text-container
  %h1 Listing Rims
  %table
    %tr
      %th Title
      %th Description
      %th Color
      %th Size
      %th Fitting
      %th Image
    - @rims.each do |rim|
      %tr
        %td= rim.title
        %td= rim.description
        %td= rim.color
        %td= rim.size
        %td= rim.fitting
      
        -if rim.image.url(:thumb).nil?
          %td= rim.image.url(:thumb)
        -else
          %td= image_tag rim.image.url(:thumb)
        
        -if rim.medium_image.url(:thumb).nil?
          %td= rim.medium_image.url(:thumb)
        -else
          %td= image_tag rim.medium_image.url(:thumb)
        
        -if rim.small_image.url(:thumb).nil?
          %td= rim.small_image.url(:thumb)
        -else
          %td= image_tag rim.small_image.url(:thumb)
	    
        %td= link_to 'Show', admin_rim_path(rim)
        %td= link_to 'Edit', edit_admin_rim_path(rim)
        %td= link_to 'Destroy', admin_rim_path(rim), :confirm => 'Are you sure?', :method => :delete

  %br/
  = link_to 'New Rim', new_admin_rim_path
