.title="Viewing: #{@rim.title}"
.text-container
  %fieldset
    %legend Rim Information
    .table
      .field#notice= notice
      .field
        %b Title:
        .grey= @rim.title
      .field
        %b Description:
        .grey= @rim.description
      .field
        %b Color:
        .grey= @rim.color
      .field
        %b Size:
        .grey= @rim.size
      .field
        %b Fitting:
        .grey= @rim.fitting
      .field
        %b Store Product ID:
        .grey= @rim.product_id
      .field
        %b Homepage Image:
        - if @rim.image.url.present?
          .grey.pad.bottom10= @rim.image
          .border.pad.bottom10.center
            = image_tag(@rim.image)

          %b Medium Image:
          .grey.pad.bottom10= @rim.medium_image
          .border.pad.bottom10.center
            = image_tag(@rim.medium_image.url)

          %b Small Image:
          .grey.pad.bottom10=@rim.small_image
          .border.pad.bottom10.center
            = image_tag(@rim.small_image.url)

  %fieldset
    %legend Other options
    .links
      = link_to 'Edit Rim', edit_admin_rim_path(@rim), :class => 'btn blue'
      = link_to 'Back to list', admin_rims_path, :class => 'btn black pad left5'
