/ %p#notice= notice
%p
  %b Name:
  = @software.name
%p
  %b Download URL:
  = @software.download_url
%p
  %b Image:
  -if @software.image.url().nil?
    = @software.image.url()
  -else
    = image_tag @software.image.url()
  
= link_to 'Edit', edit_software_path(@software)
\|
= link_to 'Back', software_path