.title Manage Resources
.text-container
  %fieldset
    %legend All Resources
    .table
      %table
        %thead
          %tr
            %th Type
            %th Title
            %th Sub title
            %th Description
            %th{:colspan => 3} Actions
        %tbody
          - @resources.each do |resource|
            %tr
              %th= resource.resource_type
              %th= resource.title
              %th= resource.sub_title
              %th= resource.description

              %th= link_to 'Show', admin_resource_path(resource), :class => 'btn blue'
              %th= link_to 'Edit', edit_admin_resource_path(resource), :class => 'btn blue'
              %th= link_to 'Destroy', admin_resource_path(resource), :confirm => 'Are you sure?', :method => :delete, :class => 'btn black'

    .links.pad.bottom10
      = link_to 'Create New Resource', new_admin_resource_path, :class => 'btn orange'
