.text-container
  %h1 Listing resources
  %table
    %tr
      %th Type
      %th Title
      %th Sub title
      %th Description
      %th
      %th
      %th
    - @resources.each do |resource|
      %tr
        %td= resource.type
        %td= resource.title
        %td= resource.sub_title
        %td= resource.description
        %td= link_to 'Show', admin_resource_path(resource)
        %td= link_to 'Edit', edit_admin_resource_path(resource)
        %td= link_to 'Destroy', admin_resource_path(resource), confirm: 'Are you sure?', method: :delete
  %br/
  = link_to 'New Resource', new_admin_resource_path
