.title Generator
.sub-title Generate your own LED RIM images.
.small-title Want to see how your images will look on your rims? Take a virtual test drive ...
.container
  .left-column
    .upload-button
      .upload
        %a{:href => "#"} Upload
    .overlay
    .image
      -if @generator.first.thumbnail.url.present?
        %th= image_tag @generator.first.thumbnail.url(:thumb)
    .frame
  .middle-column
    .arrow
  .right-column
    .preview-title
    .choices
      %ul
        - @rims.each do |rim|
          %li
            - if rim.id.to_s == @active_rim.to_s
              %a.rim-small.active{:href => "#", :rel => "#{rim.id}"}
                = image_tag rim.small_image unless !rim.small_image.present?
            -elsif rim.id == @rims.first.id && @active_rim.nil?
              %a.rim-small.active{:href => "#", :rel => "#{rim.id}"}
                = image_tag rim.small_image unless !rim.small_image.present?
            -else
              %a.rim-small{:href => "#", :rel => "#{rim.id}"}
                = image_tag rim.small_image unless !rim.small_image.present?
    .rim-preview
    .image
      -if @generator.first.thumbnail.url.present?
        %th= image_tag @generator.first.thumbnail.url(:preview)
