.title Generator
.sub-title Generate your own LED RIM images.
.small-title Want to see how your images will look on your rims? Take a virtual test drive ...
.container
  .left-column
    .upload-button
      .upload
        -if @user
          = form_for :generator, :url => generator_upload_path(:id => @user.id), :method => 'put', :html => {:multipart => true, :class => 'generator-form'} do |f|
            = f.file_field :thumbnail, :class => 'uploader'
        -else
          Login to upload a new image
          / = link_to('Create an account to upload', spree.signup_path, :class => "sign_up")
              
    .overlay
    .image
      -if @user && @user.generator
        -if @user.generator.thumbnail.url.present?
          %th= image_tag @user.generator.thumbnail.url(:thumb)
      -else
        -if @generator.thumbnail.url.present?
          %th= image_tag @generator.thumbnail.url(:thumb)
    .frame
  .middle-column
    .arrow
  .right-column
    .preview-title
    .choices
      %ul
        - @rims.each do |rim|
          %li
            - if rim.id.to_s == @active_rim.to_s
              %a.rim-small.active{:href => "#", :rel => "#{rim.id}"}
                = image_tag rim.small_image unless !rim.small_image.present?
            -elsif rim.id == @rims.first.id && @active_rim.nil?
              %a.rim-small.active{:href => "#", :rel => "#{rim.id}"}
                = image_tag rim.small_image unless !rim.small_image.present?
            -else
              %a.rim-small{:href => "#", :rel => "#{rim.id}"}
                = image_tag rim.small_image unless !rim.small_image.present?
    .rim-preview
      .rim
        - @rims.each do |rim|
          - if rim.id.to_s == @active_rim.to_s
            %div{:id => "#{rim.id}", :class => 'show'}
              = image_tag "img-rim-generator#{rim.id}.png"
          -elsif rim.id == @rims.first.id && @active_rim.nil?
            %div{:id => "#{rim.id}", :class => 'show'}
              = image_tag "img-rim-generator#{rim.id}.png"
          -else
            %div{:id => "#{rim.id}", :class => 'hide'}
              = image_tag "img-rim-generator#{rim.id}.png"
      
    .image
      -if @user && @user.generator
        -if @user.generator.thumbnail.url.present?
          %th= image_tag @user.generator.thumbnail.url(:preview)
      -else
        -if @generator.thumbnail.url.present?
          %th= image_tag @generator.thumbnail.url(:preview)
      