.text-container
  %p#notice= notice
  %p
    %b Title:
    = @media.title
  %p
    %b Description:
    = @media.description
  %p
    %b Video URL:
    = @media.video_url
  
  - if @media.thumbnail.url.present?
    %p
      %b Thumbnail:
      = @media.thumbnail
      = image_tag(@media.thumbnail.url)

  = link_to 'Edit', edit_admin_media_path(@media)
  |
  \#{link_to 'Back', admin_medias_path}