.title Privacy Policy

- if !@privacies.first.nil?
  .text-container
    %fieldset
      %legend= "#{@privacies.first.title}"
      .table
        = @privacies.first.content.html_safe

- if user_signed_in?
  .text-container
    %fieldset
      %legend All Privacy Policies
      .table
        %table
          %thead
            %tr
              %th Type
              %th Content
              %th{:colspan => 3} Actions
          %tbody
          - @privacies.each do |privacy|
            %tr
              %th= privacy.title
              %th.align-left= summarize(privacy.content, 200).html_safe unless privacy.content.nil?
              %th= link_to 'Show', privacy, :class => 'btn blue'
              %th= link_to 'Edit', edit_privacy_path(privacy), :class => 'btn blue'
              %th= link_to 'Delete', privacy, confirm: 'Are you sure?', method: :delete, :class => 'btn black'
          - if @privacies.length <= 0
            %tr
              %th{ :colspan => 5 } 
                .pad.all10
                  No privacy policies found
      .links
        = link_to 'New Privacy Policy', new_privacy_path, :class => 'btn blue'