= form_for :software, :url => admin_softwares_path, :html => {:multipart => true, :class => 'software-form'} do |f|
  - if @software.errors.any?
    Error Summary:
    %h2= "#{pluralize(@software.errors.count, "error")} prohibited this software from being saved:"
    %ul
    - @software.errors.full_messages.each do |msg|
      %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :download_url
    = f.text_field :download_url
  .field
    = f.label :default_id, 'Make default'
    = check_box_tag :default_id, nil, false, :class => 'inline'
  .field
    .border.pad.bottom10
      = f.label :image
      = f.file_field :image
  .submit.pad.bottom10
    = f.submit 'Save', :class => 'orange'
