= form_for :contact, :url => contact_create_path,:html => { :class => 'contact-form'} do |f|
  -if @contact.errors.any?
    Error Summary:
    %h2= "#{pluralize(@contact.errors.count, "error")} prohibited your message from being sent:"
    %ul
    - @contact.errors.full_messages.each do |msg|
      %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :subject
    = f.select :subject, options_for_select(['General Inquiry', 'Business Inquiry', 'Comment'])
  .field
    = f.label :body
    = f.text_area :body, :type => :textarea
  .submit.pad.bottom10
    = f.submit 'Send', :class => 'orange'
