.title Listing Newsletter Signups
.text-container
  %fieldset
    %legend Contact Info
    .table
      %table
        %thead
          %tr
            %th Email
            %th{:colspan => 3} Actions
        %tbody
        - @newsletters.each do |newsletter|
          %tr
            %th{:style => 'width: 80%'}= newsletter.email
            %th= link_to 'Show',admin_newsletter_path(newsletter), :class => 'btn blue'
            %th= link_to 'Edit', edit_admin_newsletter_path(newsletter), :class => 'btn blue'
            %th= link_to 'Destroy', admin_newsletter_path(newsletter), confirm: 'Are you sure?', method: :delete, :class => 'btn black'
        - if @newsletters.length <= 0
          %tr
            %th{ :colspan => 4 } 
              .pad.all10
                No newsletter signups were found
    .links
      = link_to 'New Signup', new_admin_newsletter_path, :class => 'btn blue'