.user
  %ul
    - if user_signed_in?
      %li
        = "Welcome, " + current_user.name rescue current_user.email
    - else
      %li
        = "Welcome, Guest"
    - if user_signed_in?
      - if current_user.has_role? :admin
        %li.divline
          %span
        %li
          = link_to('Admin', main_app.admin_path, :class => "fade#{' active' if controller_name == 'admin'}")

          - if store_menu?
            -# %span.line &nbsp;

        - if store_menu?
          -# %li#link-to-cart.pad.left5{"data-hook" => ""}= link_to_cart
      %li.divline

    - if user_signed_in?
      %li
        = link_to('My Account', spree.account_path, :class => "my_account #{'active' if controller_name === 'registrations' }")
      %li
        = link_to('Logout', spree.destroy_user_session_path, :class => 'log_out')
    - else
      %li
        = link_to('Sign In', spree.login_path, :class => "sign_in #{'active' if controller_name === 'sessions' }")
      %li
        = link_to('Sign up', spree.signup_path, :class => "sign_up #{'active' if controller_name === 'registrations' }")
