%footer
  %section.footer-container
    .newsletter
      .logo
      .email-updates
        = form_for(@newsletter)  do |f|
          = f.email_field :email, :placeholder => "Enter email for updates"
          = f.submit 'Register'
    .links
      .order
        = link_to('Buy Rims', spree.products_path, :class => 'btn orange')
      %ul#sharing-links
        - @sharing_links.each do |link|
          %li
            %a{:href => "#{link.sub_title}", :title => "Check us out on #{link.title}", :target => '_blank', :class => "#{link.title.downcase}"}=link.title
  %section.spacer
    .copyright
      %span= @copyright.sub_title rescue nil
      .links
        = link_to 'Privacy Policy', privacy_policy_path, :class => "fade"
        = link_to 'Refund Policy', refund_policy_path, :class => "fade"

/ = controller_path.split('/').first
/ = debug(params) if Rails.env.development?
= javascript_tag :defer => 'defer' do
  -if admin?
    #{@controller_js_args.present? ? "$DUB.initPage('#{controller.class.to_s.split('Controller').first.split('::').second}Admin', #{parse_js_args(@controller_js_args)});" : "$DUB.initPage('#{controller.class.to_s.split('Controller').first.split('::').second}Admin');"}
  -else
    #{@controller_js_args.present? ? "$DUB.initPage('#{controller.class.to_s.split('Controller').first}', #{parse_js_args(@controller_js_args)});" : "$DUB.initPage('#{controller.class.to_s.split('Controller').first}');"}