.main
  %ul.topnav
    %li= (link_to "Home", home_path, :id => "home", :class => controller_name === "home" ? "active" : "")
    %li= (link_to "Technology", technology_path, :id => "technology", :class => controller_name === "technology" ? "active" : "")
    %li= (link_to "Media", media_path, :id => "media", :class => controller_name === "media" ? "active" : "")
    %li= (link_to "Generator", generator_path, :id => "generator", :class => controller_name === "generator" ? "active" : "")
    %li= (link_to "Store", store_path, :id => "store", :class => controller_name === "store" ? "active" : "")
    %li= (link_to "Contact", contact_path, :id => "contact", :class => controller_name === "contact" ? "active" : "")
  .glow