.user
  %ul
    - if user_signed_in?
      %li
        = "Welcome, " + current_user.name
    - else
      %li
        = "Welcome, Guest"
    %li.divline
      %span
    %li
      - if user_signed_in?
        - if current_user.has_role? :admin
          = link_to('Admin', admin_path, :class => "fade#{' active' if controller_name == 'admin'}")
          %span.line &nbsp;
      = link_to('CART (0)', '/store', :class => "fade#{' active' if controller_name == 'store'}")
    %li.divline
    - if user_signed_in?
      %li
        = link_to('My Account', edit_user_registration_path, :class => "my_account #{'active' if controller_name === 'registrations' }")
      %li
        = link_to('Logout', destroy_user_session_path, :class => 'log_out', :method => 'delete')
    - else
      %li
        = link_to('Sign In', new_user_session_path, :class => "sign_in #{'active' if controller_name === 'sessions' }")
      %li
        = link_to('Sign up', new_user_registration_path, :class => "sign_up #{'active' if controller_name === 'registrations' }")