= render 'layouts/header'
%body{:class => "#{controller_name.capitalize} #{action_name.capitalize}"}
  %section#dub
    %section.wrapper
      %header
        = render 'layouts/user_nav'
        = render 'layouts/main_nav'
        %section.logo

      / - flash.each do |name, msg|
      /         = content_tag :div, msg, :id => "flash_\#{name}" if msg.is_a?(String)

      = flash_messages

      %section.body
        %section.content-container.interior
          %div{:class => "content-#{controller_name.downcase} #{action_name.downcase}"}
            .title-container
              .title{:class => "#{controller_name.capitalize}"}

              = yield

      = render 'layouts/footer'
  / = debug(params) if Rails.env.development?
  = javascript_tag :defer => 'defer' do
    #{@controller_js_args.present? ? "$DUB.initPage('#{controller.class.to_s.split('Controller').first}', #{parse_js_args(@controller_js_args)});" : "$DUB.initPage('#{controller.class.to_s.split('Controller').first}');"}
