= render 'layouts/header'
%body{:class => "#{controller_name.capitalize} #{action_name.capitalize}"}
  %section#dub
    %section.wrapper
      %header
        %nav
          = render 'layouts/user_nav'
          = render 'layouts/main_nav'
        %section.logo

      %section.body
        %section.content-container.interior
          .content{:class => "#{controller_name}"}
            .title-container
              = flash_messages
              = yield

      .push

    = render 'layouts/footer'
    
    #modal_global_progress
      .spinner